
.banner {
    position: relative;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 48px;
    z-index: 1;
    overflow: hidden;
    font-family: 'Montserrat';
    &__img {
        object-fit: cover;
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 2;
    }
    &__title {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        margin: 0;
        @media (max-width: 800px) {
            font-size: 30px;
        }
    }
}

