
.banner {
    position: relative;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 48px;
    z-index: 1;
    overflow: hidden;
    font-family: 'Montserrat';
    &__img {
        width: 100%;
        object-fit: cover;
        filter: brightness(70%) hue-rotate(10deg) saturate(155%) contrast(125%) ;
    }
    &__title {
        box-sizing: border-box;
        padding: 16px;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        margin: 0;
    }
    @media (max-width: 900px) {
        border-radius: 10px;
        height: 175px;
        font-size: 30px;
    }
    @media (max-width: 599px){
        height: 110px;
        font-size: 24px;
    }
}

