

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    &__tag {
        flex-shrink: 1;
        padding: 2px 25px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 84px;
        width: fit-content;
        // height: 25px;
        background-color: #FF6060;
        border-radius: 10px;
        color: white;
        font-size: 14px;
    }
}